* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.heading {
    color: yellowgreen;
    font-weight: bold;
    margin: 70px 0;
    text-align: center;
    text-shadow: 0px 2px 4px rgb(149, 207, 33)
}

.date-time {
    text-align: center;
    color: tomato;
    /* font-weight: bold; */
    font-size: 18px;
}

.image-gallery {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.image-gallery img {
    width: 250px;
    height: 300px;
}